Options -Indexes

<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On

	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Enable Friendly URLs - uncomment by remove the # from the 5 lines below
	
	# RewriteCond %{REQUEST_URI} !^/ajax
	# RewriteRule ^([a-z0-9_-]+)$ index.php?p=$1 [L,QSA,NC]

	# RewriteCond %{REQUEST_URI} ^/ajax
	# RewriteRule ^ajax(/*)$ index.php?p=404 [L,QSA,NC]
	# RewriteRule ^ajax/(.*)$ index.php?p=ajax&a=$1 [L,QSA,NC]
</IfModule>