RewriteEngine On

#######################
#  The Friendly URLs  #
#######################
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

###################
#  This is pages  #
###################
RewriteCond %{REQUEST_URI} !^/ajax
RewriteRule ^(.*)$ index.php?p=$1 [L,QSA,NC]

###############################
#  This is for ajax requests  #
###############################
RewriteCond %{REQUEST_URI} ^/ajax
RewriteRule ^ajax/(.+)$ index.php?p=ajax&a=$1 [L,QSA,NC]

#################
#  Delete this  #
#################
AuthType Basic
AuthName "Index"
AuthUserFile "/home/trtl/.htpasswds/public_html/passwd"
require valid-user
